button {
  color: #fff;
  background: #2e2e2e;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

#search-container,
#blocklist-controls,
#time-filter-container {
  margin-bottom: 1rem;
}
#time-filter-container > * {
  margin-right: 1rem;
}
nav > button {
  background: #333;
  color: #fff;
}
.status-message {
  margin-left: 1rem;
  padding: 5px;
  background: #333;
  color: #fff;
  border-radius: 3px;
}
.result-item {
  margin-bottom: 5px;
}
body > div {
  margin-top: 2rem;
}

.big-button {
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin: 1rem;
}

/* Fix for inactive Bootstrap tab background in dark mode */
.nav-tabs .nav-link:not(.active) {
    background-color: #495057;
    color: #fff;
}
